<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<body>
    <h1>Favorite Parks</h1>
    <p>Easily find your favorite national parks.</p>
    <p>Click on a park to view park details.</p>
    <ul>
        {% for park_name in favorites %}
        <li><a href="/park_details/{{ park_name }}">{{ park_name }}</a></li>

        {% endfor %}
    </ul>

    <form action="/" method="GET" class="horizontal-buttons">
        <button type="submit">Home</button>
    </form>
</body>
</html>
